@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

body{
   margin: 0;
   max-height: 100%;
   height: 100%;
   overflow: hidden;
   background-color: #FEEFD1 !important;
   background-color: #231F20;
   background-position: center top;
   /*background-size: cover;*/
   background-repeat: no-repeat;
   position: relative;
   width: 100%;
   -webkit-tap-highlight-color: transparent;
   font-family: 'Open Sans', sans-serif;
}

body.Dark{
   color:#331E1C;
}
body.Light{
   color:#331E1C;  
}
#main-container{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

#main-container.fill-window{
   width: 100%;
   height: 100%;
   margin: 0;
}
#app-container, #unity-canvas{
   width: 100%;
   height: 100%;
   margin: 0;
   position: relative;
}
#canvas-cover{
   width: 100vw;
   height: 100vh;
   background-color: #FEEFD1 !important;
   /* background-color: #381e4e !important; */
   position: fixed;
   z-index: 1;
}

.loader{
   width: 100%;
   height: 100%;
   margin: 0;
   position: absolute;
   display: block;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   text-align: center;
   z-index: 30;
   background-color: #FEEFD1 !important;
}
.container{
   width: 80%;
   max-width: 800px;
   margin:0 auto;
   text-align: center;
   padding-top: 20px;
}
.logo{
   width: auto;
   max-width: 80%;
   margin: 30px auto;
   max-height: 150px;
}

.progressbar{
   padding: 1px;
   left: 0;
   border: 1px solid #331E1C;
   border-radius: 10px;
}
.Dark .progressbar{
   border: 1px solid #331E1C;
}
.fill{
   height:6px;
   background: #333;
   display: block;
   border-radius: 10px;
   transition-property: width;
   transition-duration: 1s;
}
.Dark .fill{
   background: #331E1C;
}
.center {
   overflow: hidden;
   margin: 20px auto 0;
   padding: 20px;
   
}
.footer-cont{
   position:fixed;
   bottom:0;
   left:0;
   right:0;
   text-align: center;
}
h1{
   padding-bottom: 10px;
   border-bottom: 1px solid #331E1C;
}

.Dark h1{
   border-bottom: 1px solid #331E1C;
}

.logo-cont, .title-cont{
   float:left;
   display: block;
}
.logo-cont{
   width: 25%;
}
.title-cont{
   width: 70%;
   margin-left: 2%;
}
.button{
   width:50px;
   height: 50px;
   text-align: center;
   cursor: pointer;
}
.floattopRight {
   display: block;
   position: fixed;
   top: 0;
   right: 0;
}
.floatbottomLeft {
   display: block;
   position: fixed;
   left: 0;
   bottom: 0;
}
span.imgbutton{
   width: 100%;
   height: 100%;
   display: none !important;
   /* display: block; */
   position: relative;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
}
.fullscreenON .imgbutton{
   background-image: url("fullscreenON.png") ;
}
.fullscreenOFF .imgbutton{
   background-image: url("fullscreenOFF.png") ;
}

.download-button {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 100px;
   height: 100px;
   z-index: 30;
   /* background-color: rgb(0, 30, 255); */
}
.terms-modal-container {
   /* display: none !important; */
   /* opacity: 50%; */




   /* background-color: rgba(255, 0, 0, 0.362); */
   /* position: fixed; */
   position: relative;
   width: 100vw;
   height: 100vh;

   display: flex;
	align-items: center;
	justify-content: center;
   
   z-index: 140;
}
.terms-center{
   /* background-color: rgba(255, 0, 0, 0.362); */
   position: relative;
   width: 100%;
   max-width: 800px;
   height: 100%;
   display: flex;
	align-items: end;
	justify-content: end;
   
}
.terms-modal {
   position: relative;
   background-color: #e9d9b6;
   border-radius: 20px;
   width: 100%;
   max-width: 800px;
   height: 300px;
   margin-bottom: 240px;
   padding-left: 20px;
   /* pointer-events: inherit; */
}
.terms-buttons-cont {
   position: absolute;
   /* position: relative; */
   /* background-color: rgba(255, 0, 0, 0.362); */
   width: 100%;
   max-width: 800px;
   height: 300px;
   margin-bottom: 240px;

   display: flex;
	align-items: end;
	justify-content: end;
   pointer-events: none;
}
.terms-accept-button {
   background-color: #331E1C;
   width: 125px;
   height: 40px;
   border-radius: 20px;
   color: #FEEFD1;

   display: flex;
	align-items: center;
	justify-content: center;
   margin-right: 10px;
   margin-bottom: 10px;
   pointer-events: all;
}
.terms-accept-button:hover{
   background-color: #492b29;
   cursor: pointer;
}
.terms-decline-button {
   background-color: #FEEFD1;
   width: 125px;
   height: 40px;
   border-radius: 20px;
   color: #331E1C;

   display: flex;
	align-items: center;
	justify-content: center;
   margin-right: 10px;
   margin-bottom: 10px;
   pointer-events: all;
}
.terms-decline-button:hover{
   background-color: #f5ebd7;
   cursor: pointer;
}
.terms-scroll{
   /* background-color: rgba(255, 0, 0, 0.362); */
   position: relative;
   margin-right: 20px;
   height: 165px;
   width: calc(100% - 20px);
   
   /* overflow-y: scroll; */
   overflow: auto;
}

.terms-scroll::-webkit-scrollbar {
   width: 4px;
}

.terms-scroll::-webkit-scrollbar-track {
   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.terms-scroll::-webkit-scrollbar-thumb {
   background-color: #331E1C;
   outline: 1px solid rgba(112, 128, 144, 0);
}
.terms-scroll > p{
   margin-right: 10px;
}

.mobile-visitor{
   background-color: #FEEFD1;
   position: fixed;
   width: 100vw;
   height: 100vh;
   z-index: 290;
   display: none;
}

.logos-row{
   pointer-events: none;
   width: 100%;
   height: 100vh;
   /* background-color: red; */
   /* position: absolute; */
   position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   z-index: 910;
}
.logos-cont{
   /* background-color: yellow; */
   height: 20vh;
   width: 100%;
   position: absolute;
   margin-bottom: 20px;
   align-self: flex-end;

   display: grid;
	place-items: center;
}
.logos-centered{
   /* background-color: rgba(0, 255, 8, 0.186); */
   display: flex;
   /* width: 75vw; */
   width: auto;
}
.logo-single-cont{
   /* background-color: rgb(255, 0, 174); */
   width: 200px;
   margin: 50px;
}
.logo-single-cont img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

@media(max-aspect-ratio: 1/1.25){
   .mobile-visitor{
      display: grid !important;
	   place-items: center !important;
   }  
}
